#carousel-slider {
    position: relative
}

.carousel-slide {
    text-align: center
}

.carousel-slide img {
    -webkit-animation: fade 2s;
    -o-animation: fade 2s;
    -moz-animation: fade 2s;
    animation: fade 2s
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

#btn-carousel-prev,
#btn-carousel-next {
    font-size: 3rem;
    background-color: rgba(17, 36, 61, .9);
    color: #fff;
    padding: 0 .5em .2em .5em;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

#btn-carousel-prev {
    left: 1rem
}

#btn-carousel-next {
    right: 1rem
}

#btn-carousel-next:hover,
#btn-carousel-next:focus,
#btn-carousel-prev:hover,
#btn-carousel-prev:focus {
    background-color: rgba(255, 255, 255, .8);
    color: #11243d;
    outline: 2px solid #11243d
}

#carousel-thumbnails {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem
}

.btn-carousel-thumbnail:hover {
    outline: 2px dotted #11243d
}

.carousel-thumbnail-active {
    border: 2px solid #11243d
}

#carousel-thumbnails li:nth-of-type(n+2) {
    margin-left: .5em
}

@media screen and (min-width:56.25rem) {
    #carousel-thumbnails {
        margin-top: 2rem
    }
}

@media screen and (min-width:1100px) {
    #carousel {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto
    }
    #carousel-thumbnails {
        margin-left: 0;
        margin-right: 0
    }
}

@media screen and (min-width:2500px) {
    #carousel {
        max-width: 1125px
    }
}