table {
    margin-bottom: 1em
}

th {
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #11243d
}

td,
th {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left
}

td {
    font-size: 1.6rem;
    padding: .5em .25em .5em .75em
}

tr {
    border-bottom: 1px solid #cfd3d8
}